@model HFTestProject.Controllers.Products_CRUD.ProductsViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("Index", "Products",
                       FormMethod.Post,
                       new { @class = "form-horizontal", role = "form", id = "ProductsList" }))
{
    <div class="form-group row ui-widget">
        @Html.LabelFor(x => x.SearchParameter.ProductID, htmlAttributes: new { @class = "control-label col-sm-2" })
        @Html.EditorFor(x => x.SearchParameter.ProductID, new { htmlAttributes = new { @class = "form-control col-sm-2", @id = "tbProductID" } })
    </div>

    <div class="form-group row">
        @Html.LabelFor(x => x.SearchParameter.ProductName, htmlAttributes: new { @class = "control-label col-sm-2" })
        @Html.EditorFor(x => x.SearchParameter.ProductName, new { htmlAttributes = new { @class = "form-control", @id = "tbProductName" } })
    </div>

    <div class="form-group row">
        @Html.LabelFor(x => x.SearchParameter.SupplierID, htmlAttributes: new { @class = "control-label col-sm-2" })
        @Html.EditorFor(x => x.SearchParameter.SupplierID, new { htmlAttributes = new { @class = "form-control", @id = "tbSupplierID" } })
        @Html.TextBox("tbSupplierID_dis", null, new { @class = "form-control", @id = "tbSupplierID_dis", @disabled = "true" })
    </div>

    <div class="form-group row">
        @Html.LabelFor(x => x.SearchParameter.CategoryID, htmlAttributes: new { @class = "control-label col-sm-2" })
        @Html.DropDownListFor(x => x.SearchParameter.CategoryID, Model.CategoryID_List.Items as List<SelectListItem>, "請選擇", new { @class = "form-control", @id = "cbCategoryID" })
    </div>

    <div class="form-group row">
        @Html.LabelFor(x => x.SearchParameter.Discontinued, htmlAttributes: new { @class = "control-label col-sm-2" })
        @Html.DropDownListFor(x => x.SearchParameter.Discontinued, Model.Discontinued_List.Items as List<SelectListItem>, "請選擇", new { @class = "form-control", @id = "cbDiscontinued" })
    </div>
}

<input type="button" value="查詢" class="btn btn-warning" name="action" onclick="query();" />
<input type="button" value="新增" class="btn btn-warning" name="action" onclick="createedit('Create','');" />

@if ((Model.SearchParameter.ProductID != null
                || Model.SearchParameter.ProductName != null
                || Model.SearchParameter.SupplierID != null
                || Model.SearchParameter.CategoryID != null
                || Model.SearchParameter.Discontinued != null) && Model.Products_list.Count() == 0)
{
    <label class="text-danger pull-right">查無資料 </label>
}

@if ((Model.SearchParameter.ProductID != null
                            || Model.SearchParameter.ProductName != null
                            || Model.SearchParameter.SupplierID != null
                            || Model.SearchParameter.CategoryID != null
                            || Model.SearchParameter.Discontinued != null) && Model.Products_list.Count() > 0)
{
    <label class="text-info pull-right">查詢結果：共 @Model.Products_list.Count() 筆資料 </label>
}

<table class="table">
    <tr>
        <th>@Html.CheckBox("HeaderCheckbox")</th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Products_list.FirstOrDefault().ProductID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products_list.FirstOrDefault().ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products_list.FirstOrDefault().SupplierID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products_list.FirstOrDefault().CategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products_list.FirstOrDefault().Discontinued)
        </th>
    </tr>

@foreach (var item in Model.Products_list) {
    <tr>
        <td>
            @Html.CheckBox("checkboxs", false, new { value = item.ProductID })
        </td>
        <td>
            @if(item.Discontinued.ToString()=="True")
            {
                @Html.Label("已停產", new { @class = "text-danger" })

            }
            else
            {
                <input type="button" value="修改" name="action" onclick="createedit('Edit',@item.ProductID);" /> 
            }
            <input type="button" value="明細" name="action" onclick="createedit('Detail',@item.ProductID);" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierID)
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryID)
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discontinued)
        </td>
    </tr>
}

</table>
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript" src="~/Scripts/PublicFunction/Post_to_url.js"></script>
<script type="text/javascript" src="~/Scripts/Products_CRUD/Index/Action.js"></script>
<script type="text/javascript" src="~/Scripts/Products_CRUD/Index/AutoComplete.js"></script>